# remove temp and bin
_temp/
_bin/
bin/

# remove VS crap
/dev/src/.vs/
/dev/src/ipch/
/dev/src/*.db
*.fpb.bak
*.suo
*.db
*.opendb
*.ipch
*.rar

# remove wxWidgets since it's to big
#dev/external/wxWidgets-3.1.0/include/
#dev/external/wxWidgets-3.1.0/lib/

# projects
projects/**/build/*
projects/**/code/*
projects/**/.temp/*
projects/**/*.dll
projects/
*.tlog

# tests
tests/
